In [1]:
import numpy as np
import pandas as pd

In [43]:
df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [44]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [45]:
df.drop(["RowNumber", "CustomerId", "Surname"], axis=1, inplace=True)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [46]:
# change (male, female) to (1,0) using Label Encoder
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [47]:
# encode "Geography" using OneHotEncoder

from sklearn.preprocessing import OneHotEncoder
one_hot_encoder = OneHotEncoder()

encode_geog_col = pd.DataFrame(one_hot_encoder.fit_transform(df[['Geography']]).toarray())
df = df.join(encode_geog_col)
df.drop('Geography', axis=1, inplace=True)

In [48]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,0,1,2
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [49]:
# scale this shit

from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()

features = df.copy().columns.values
min_max_scaler.fit(df)
df = pd.DataFrame(min_max_scaler.fit_transform(df))
df.columns = features
df

/opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,0,1,2
0,0.538,0.0,0.324324,0.2,0.000000,0.000000,1.0,1.0,0.506735,1.0,1.0,0.0,0.0
1,0.516,0.0,0.310811,0.1,0.334031,0.000000,0.0,1.0,0.562709,0.0,0.0,0.0,1.0
2,0.304,0.0,0.324324,0.8,0.636357,0.666667,1.0,0.0,0.569654,1.0,1.0,0.0,0.0
3,0.698,0.0,0.283784,0.1,0.000000,0.333333,0.0,0.0,0.469120,0.0,1.0,0.0,0.0
4,1.000,0.0,0.337838,0.2,0.500246,0.000000,1.0,1.0,0.395400,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,1.0,0.283784,0.5,0.000000,0.333333,1.0,0.0,0.481341,0.0,1.0,0.0,0.0
9996,0.332,1.0,0.229730,1.0,0.228657,0.000000,1.0,1.0,0.508490,0.0,1.0,0.0,0.0
9997,0.718,0.0,0.243243,0.7,0.000000,0.000000,0.0,1.0,0.210390,1.0,1.0,0.0,0.0
9998,0.844,1.0,0.324324,0.3,0.299226,0.333333,1.0,0.0,0.464429,1.0,0.0,1.0,0.0
9999,0.884,0.0,0.135135,0.4,0.518708,0.000000,1.0,0.0,0.190914,0.0,1.0,0.0,0.0

In [51]:
# train, test, split
from sklearn.model_selection import train_test_split

X = df.drop('Exited', axis=1)
y = df['Exited']

X_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=25)
X_train

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,0,1,2
8239,0.578,1.0,0.216216,0.7,0.597613,0.333333,0.0,0.0,0.783261,0.0,0.0,1.0
7105,0.452,1.0,0.364865,0.5,0.532559,0.000000,0.0,0.0,0.676231,0.0,0.0,1.0
5176,0.812,0.0,0.135135,0.6,0.000000,0.000000,1.0,1.0,0.821994,1.0,0.0,0.0
5681,0.358,0.0,0.283784,0.2,0.329881,0.000000,1.0,1.0,0.614628,0.0,0.0,1.0
6493,0.622,1.0,0.229730,0.9,0.398999,0.000000,1.0,0.0,0.419731,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1175,0.738,1.0,0.283784,0.5,0.000000,0.333333,1.0,0.0,0.728810,0.0,0.0,1.0
8447,0.830,0.0,0.202703,0.5,0.337021,0.000000,1.0,1.0,0.345172,0.0,0.0,1.0
2934,0.562,1.0,0.202703,0.7,0.000000,0.000000,1.0,1.0,0.290185,1.0,0.0,0.0
6618,0.572,0.0,0.148649,0.3,0.387907,0.000000,0.0,1.0,0.659627,0.0,1.0,0.0
8510,0.400,0.0,0.297297,0.8,0.599807,0.000000,0.0,0.0,0.832363,1.0,0.0,0.0

In [64]:
num_inputs = len(X_train.columns.values)
num_inputs

12

In [65]:
# train!
import tensorflow as tf
from tensorflow import keras

model = keras.Sequential([
    keras.layers.Dense(num_inputs, input_shape=(num_inputs,), activation="relu"),
    keras.layers.Dense(num_inputs, activation="relu"),
    keras.layers.Dense(num_inputs, activation="relu"),
    keras.layers.Dense(1, activation="sigmoid"),
])

model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [66]:
model.fit(X_train, y_train, epochs=100)

Epoch 1/100
  1/250 [..............................] - ETA: 1:07 - loss: 0.6904 - accuracy: 0.3750

2021-12-08 16:28:50.649892: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

250/250 [==============================] - 2s 5ms/step - loss: 0.5197 - accuracy: 0.7878
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4779 - accuracy: 0.7943
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4594 - accuracy: 0.7985
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4360 - accuracy: 0.8083
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4127 - accuracy: 0.8168
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3904 - accuracy: 0.8296
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3728 - accuracy: 0.8389
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3632 - accuracy: 0.8451
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3616 - accuracy: 0.8473
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3577 - accuracy: 0.8504
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3553 - accuracy: 0.8505
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3562 - accuracy: 0.8489
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3524 - accuracy: 0.8525
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3519 - accuracy: 0.8533
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3516 - accuracy: 0.8524
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3495 - accuracy: 0.8545
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3475 - accuracy: 0.8563
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3474 - accuracy: 0.8549
Epoch 19/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3451 - accuracy: 0.8576
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3446 - accuracy: 0.8586
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3441 - accuracy: 0.8566
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3432 - accuracy: 0.8580
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3438 - accuracy: 0.8566
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3430 - accuracy: 0.8573
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3405 - accuracy: 0.8596
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3397 - accuracy: 0.8590
Epoch 27/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3392 - accuracy: 0.8578
Epoch 28/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3401 - accuracy: 0.8575
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3388 - accuracy: 0.8594
Epoch 30/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3384 - accuracy: 0.8603
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3384 - accuracy: 0.8575
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3372 - accuracy: 0.8603
Epoch 33/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3378 - accuracy: 0.8601
Epoch 34/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3378 - accuracy: 0.8588
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3350 - accuracy: 0.8609
Epoch 36/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3355 - accuracy: 0.8621
Epoch 37/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3355 - accuracy: 0.8590
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3352 - accuracy: 0.8596
Epoch 39/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3344 - accuracy: 0.8619
Epoch 40/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3339 - accuracy: 0.8630
Epoch 41/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3328 - accuracy: 0.8641
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3328 - accuracy: 0.8613
Epoch 43/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3333 - accuracy: 0.8614
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3330 - accuracy: 0.8604
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3321 - accuracy: 0.8606
Epoch 46/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3317 - accuracy: 0.8616
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3314 - accuracy: 0.8645
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3309 - accuracy: 0.8604
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3315 - accuracy: 0.8615
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3310 - accuracy: 0.8625
Epoch 51/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3311 - accuracy: 0.8620
Epoch 52/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3300 - accuracy: 0.8636
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3298 - accuracy: 0.8639
Epoch 54/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3299 - accuracy: 0.8613
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3297 - accuracy: 0.8619
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3287 - accuracy: 0.8644
Epoch 57/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3285 - accuracy: 0.8633
Epoch 58/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3286 - accuracy: 0.8629
Epoch 59/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3292 - accuracy: 0.8621
Epoch 60/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3277 - accuracy: 0.8626
Epoch 61/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3272 - accuracy: 0.8639
Epoch 62/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3283 - accuracy: 0.8625
Epoch 63/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3283 - accuracy: 0.8644
Epoch 64/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3273 - accuracy: 0.8640
Epoch 65/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3281 - accuracy: 0.8640
Epoch 66/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3281 - accuracy: 0.8634
Epoch 67/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3269 - accuracy: 0.8641
Epoch 68/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3275 - accuracy: 0.8651
Epoch 69/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3264 - accuracy: 0.8641
Epoch 70/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3257 - accuracy: 0.8648
Epoch 71/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3264 - accuracy: 0.8623
Epoch 72/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3269 - accuracy: 0.8620
Epoch 73/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3260 - accuracy: 0.8655
Epoch 74/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3285 - accuracy: 0.8633
Epoch 75/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3273 - accuracy: 0.8631
Epoch 76/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3262 - accuracy: 0.8634
Epoch 77/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3256 - accuracy: 0.8645
Epoch 78/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3262 - accuracy: 0.8633
Epoch 79/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3248 - accuracy: 0.8626
Epoch 80/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3250 - accuracy: 0.8649
Epoch 81/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3258 - accuracy: 0.8649
Epoch 82/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3253 - accuracy: 0.8629
Epoch 83/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3257 - accuracy: 0.8655
Epoch 84/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3247 - accuracy: 0.8645
Epoch 85/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3246 - accuracy: 0.8650
Epoch 86/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3244 - accuracy: 0.8656
Epoch 87/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3250 - accuracy: 0.8654
Epoch 88/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3257 - accuracy: 0.8646
Epoch 89/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3248 - accuracy: 0.8629
Epoch 90/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3250 - accuracy: 0.8631
Epoch 91/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3252 - accuracy: 0.8658
Epoch 92/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3234 - accuracy: 0.8639
Epoch 93/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3240 - accuracy: 0.8636
Epoch 94/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3255 - accuracy: 0.8664
Epoch 95/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3243 - accuracy: 0.8640
Epoch 96/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3246 - accuracy: 0.8640
Epoch 97/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3227 - accuracy: 0.8630
Epoch 98/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3230 - accuracy: 0.8646
Epoch 99/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3240 - accuracy: 0.8649
Epoch 100/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3227 - accuracy: 0.8663

In [74]:
x_test.join(y_test)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,0,1,2,Exited
3555,0.356,0.0,0.243243,0.1,0.625546,0.000000,1.0,1.0,0.749575,1.0,0.0,0.0,1.0
4078,0.612,1.0,0.391892,0.1,0.000000,0.333333,1.0,1.0,0.989846,0.0,0.0,1.0,0.0
8445,0.666,0.0,0.108108,0.7,0.000000,0.333333,1.0,0.0,0.433082,1.0,0.0,0.0,0.0
5939,0.832,1.0,0.162162,0.4,0.509315,0.333333,1.0,1.0,0.144352,0.0,1.0,0.0,0.0
5583,0.690,0.0,0.175676,0.8,0.000000,0.333333,0.0,1.0,0.658227,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,0.620,1.0,0.162162,0.4,0.000000,0.333333,1.0,0.0,0.645749,0.0,0.0,1.0,0.0
7740,0.630,0.0,0.445946,0.8,0.000000,0.000000,1.0,1.0,0.194603,0.0,0.0,1.0,1.0
8225,0.640,0.0,0.527027,0.3,0.699790,0.333333,1.0,0.0,0.495298,0.0,0.0,1.0,1.0
1054,0.504,0.0,0.054054,0.7,0.564392,0.000000,1.0,0.0,0.151855,0.0,0.0,1.0,0.0
412,0.790,0.0,0.175676,0.3,0.495535,0.000000,1.0,1.0,0.702267,0.0,0.0,1.0,0.0

In [96]:
model.predict(x_test)

array([[0.11551277],
       [0.02304936],
       [0.01375322],
       ...,
       [0.92260206],
       [0.07376666],
       [0.05516274]], dtype=float32)

In [99]:
model.evaluate(x_test, y_test)

43/63 [===================>..........] - ETA: 0s - loss: 0.3370 - accuracy: 0.8612

2021-12-08 16:38:34.841042: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

63/63 [==============================] - 0s 4ms/step - loss: 0.3345 - accuracy: 0.8655

[0.334524929523468, 0.8655000329017639]